version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    expose:
      - "3000"
    depends_on:
      - cache1
      - cache2

  cache1:
    build: ./cache-node
    environment:
      - PORT=4000
    expose:
      - "4000"

  cache2:
    build: ./cache-node
    environment:
      - PORT=4000
    expose:
      - "4000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api-gateway
